#signup{
    position: fixed;
    top: -5vh;
}
.container{
    padding: 115px;
  }
  SELECT{
    padding: 5px;
  }
  input.date{
    width:50px;
    padding: 5px;
  }
#month{
    width:min-content;
}
#year{
    width: min-content;
}
#day{
    width: min-content;
}
.form .btn {
    width: 100%;
    display: block;
    padding: 14px 16px;
    background: transparent;
    outline: none;
    border: 0;
    color: #ffffff7b;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
}
.block-cube {
    position: relative;
}
.block-cube .bg-top {
    position: absolute;
    height: 10px;
    background: #7c3400a2;
    background: linear-gradient(90deg, rgba(88, 27, 1, 0.612) 0%, rgba(220, 51, 5, 0.63) 37%, rgb(255, 132, 0) 94%);
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
}
.block-cube .bg-top .bg-inner {
    bottom: 0;
    opacity: 0.45;
}
.block-cube .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fb6c06;
    background: linear-gradient(90deg, rgb(255, 116, 2) 0%, rgb(199, 82, 31) 37%, rgba(255, 102, 0, 0.744) 94%);
}
.block-cube .bg-right {
    position: absolute;
    background: rgb(255, 115, 0);
    background: rgb(255, 115, 0);
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
}
.block-cube .bg-right .bg-inner {
    left: 0;
    opacity: 0.45;
}
.block-cube .bg .bg-inner {
    transition: all 0.2s ease-in-out;
    opacity: 0.45;
}
.block-cube .bg-inner {
    background: #2a2828a8;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    opacity: 0.45;
}
.block-cube .text {
    position: relative;
    z-index: 2;
}
.block-cube.block-input input {
    position: relative;
    z-index: 2;
}
.block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
    top: 100%;
    background: rgba(33, 31, 31, 0.699);
}
.block-cube.block-input .bg-top, .block-cube.block-input .bg-right, .block-cube.block-input .bg {
    background: rgba(44, 42, 42, 0.628);
    transition: background 0.2s ease-in-out;
}
.block-cube.block-input .bg-right .bg-inner, .block-cube.block-input .bg-top .bg-inner {
    transition: all 0.2s ease-in-out;
}
.block-cube.block-input:focus .bg-top, .block-cube.block-input:hover .bg-top, .block-cube.block-input:focus .bg-right, .block-cube.block-input:hover .bg-right, .block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg {
    background: rgba(52, 50, 50, 0.639);
}
.block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-cube-hover:hover .bg .bg-inner {
    top: 100%;
}