.container {
  padding: 115px;
}

SELECT {
  padding: 5px;
}

input.date {
  width:50px;
  padding: 5px;
}

#month, #year, #day {
    width:min-content;
}

button.sign.up {
    width: 280px; /* adjust the value as needed */
    height: 42px;
}